MYMETA.json                                        |  42 -
MYMETA.yml                                         |  23 -
Makefile                                           | 850 ---------------------
blib
pm_to_blib                                         |   0
